.container {
  margin: 50px;
}

.hidden {
  visibility: hidden !important;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.column {
  margin: 50px;
}

@media screen and (width <= 1024px) {
  .column {
    width: 60%;
    margin: 30px;
  }
}

img {
  width: 500px;
  height: 500px;
}

@media screen and (width <= 1024px) {
  img {
    width: 200px;
    height: 200px;
  }
}
