.container.on {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 252, 236);
}

.dot.on {
  background-color: gold;
  border-radius: 500px;
  height: 500px;
  width: 500px;
  box-shadow: 0 0 100px 50px goldenrod;
}

.container.off {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(35, 35, 35);
}

.dot.off {
  background-color: rgb(50, 50, 50);
  border-radius: 500px;
  height: 500px;
  width: 500px;
  box-shadow: 0 0 100px 50px black;
}
